<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {{ if page.fields.seo_title }}
      {{ page.fields.seo_title.value }}
    {{ else }}
      {{ page.title }}
    {{ end }}
    - {{ site.title }}
  </title>
  <link rel="stylesheet" href="{{ site.base_url }}/assets/style.css" />
</head>
<body>
  {{ include "partials/header.html" }}
  <main class="container">
    {{ content }}
  </main>
  {{ include "partials/footer.html" }}
</body>
</html>
